@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box; /* Ensures borders are included in width/height */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif; /* Use Poppins font */
}


.navbar-item-link {
  color: white !important;
  font-size: 14px !important;
}

.white-dropdown-item {
  color: white !important;
}

.white-dropdown-button {
  color: white !important;
}

.swiper-container {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-track {
  display: flex !important;
}

.slick-track > *:not(:last-child) {
  margin-right: 24px !important;
}

.banner-slider .slick-track > *:not(:last-child) {
  margin-right: 0px !important;
}
@media (max-width: 600px) {
  .slick-track > *:not(:last-child) {
    margin-right: 16px !important;
  }
}

.slick-dots {
  bottom: -40px !important;
}
.slick-dots li {
  margin: 0 !important;
}
.slick-dots li button {
  color: #dddddd !important;
  padding: 4px !important;
}
.slick-dots li button:before {
  font-size: 8px !important;
}