.container {
  display: grid;
  grid-template-rows: auto 1fr; /* Use 'auto' for navbar and '1fr' to make content flexible */
  height: 100vh;
  overflow: hidden;
}

.navbar {
  width: 100vw;
  background-image: linear-gradient(to right, #123E73, #54AA4F);
  position: fixed; 
  top: 0;
  left: 0;
  height: 10vh;
  z-index: 1000; 
}

.content {
  margin-top: 10vh;
  overflow-y: auto;
  height: 90vh;
  width: 100vw;
}
